<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv = "refresh" content="5">
  <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
  <style>
    body {
        margin: 0 auto;
        max-width: 1500px;
        padding: 0 20px;
        background-color: #ffffff;
    }
    .container {
        border: .5px solid #dedede;
        background-color: #DAEDE8;
        border-radius: 10px;
        padding: 15px;
        margin: 20px 0;
    }
    .darker {
        border-color: #ccc;
        background-color: #9AD0F4;
    }
    .container::after {
        content: "";
        clear: both;
        display: table;
    }
    .right {
        font-family: 'Montserrat', sans-serif;
        font-size: 20pt;
        float: right;
        color: #aaa;
    }
    .leftMessage {
      font-family: 'Montserrat', sans-serif;
      font-size: 20pt;
      float: right;
      color: #aaa;
    }

    .left {
        font-family: 'Montserrat', sans-serif;
        float: left;
        color: #999;
    }
    .leftBox {
        float: left;
        color: #black;
        width: 50%;
    }

    .rightBox {
        float: right;
        color: #black;
        width: 50%;
    }
    .senderName{
      font-family: 'Montserrat', sans-serif;
      font-size: 12pt;
    }
    .receiverName{
        font-family: 'Montserrat', sans-serif;
        font-size: 12pt;
    }

  </style>
  <title></title>
  </head>
    <body>
      @foreach (var message in @Model["messages"])
      {
          @if (@message.GetFromUserId() == @Model["thisUser"].GetId())
          {
              <div class="container rightBox">
              <form action='/dialog/@message.GetId()/@Model["thisUser"].GetId()/@Model["connectedUser"].GetId()' method="get">
                <button class="btn btn-danger right" type="submit">x</button>
                <br>
              </form>
                <p class="senderName">You: </p>
                <br>
                <p class="right">@message.GetText()</p>
                <br>
                @if (@message.GetSeen())
                {
                    <span>Seen</span>
                }
              </div>
          } else {
              <div class="container darker leftBox">
                <br>
                <p class="receiverName">@Model["connectedUser"].GetName(): </p>
                <br>
                <p class="leftMessage">@message.GetText()</p>
              </div>
          }
      }
      <script type="text/javascript">
          $(document).ready(function(){
            $('html, body').scrollTop($(document).height());
          });
      </script>
    </body>
</html>
